html,body{
    height: 100%;
    background-color: #ECEFF4;
    
}

a{
    text-decoration: none;
    font-family: Roboto;
}

p{
    font-family: Roboto;
}

i{
    font-size: 20px;
    color:#FFFFEC;
}

.navbar-nav>li>a{
    margin-top: -2px;
}

#mytests{
    margin-left: 16px;
}

#createtest{
    margin-left: 14px;
}

#testname{
    margin-bottom: 10px;
}

.testquestions{
    height: 300px;
    overflow: auto;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);
}

.existingquestions{
    height: 300px;
    overflow: auto;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);
}

.menuic{
    margin-left: 15px;
    margin-top: 2px;
    float: left;
    font-size: 1.3vw;
}

.headeric{
    color: #9fa2a5;
    margin-right: 15px;
}


ul>li>a{
    color: rgb(206, 206, 206);
    margin-left:10px; 
    float: left;
}

ul>li>a:hover{
    background-color: none;
}

ul>li{
    padding-top: 15px;
    font-size: 1.3vw;
    text-decoration-line: none;
    list-style: none;
    width: 100%;
    height: 50px;
    float: left;
    
}

.navbar-nav>li:hover{
    animation-duration: 3s;
    background-color: #5A5A5A;
    border-radius: 5px;
}

ul>li>a:hover{
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.dropdown-menu>li>a{
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.dropdown-menu>li>a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.dropdown-menu{
    width: 200px;
}

.drop:hover{
    background-color: #08A2BE;
}

#title{
    font-size: 20px;
    color: #696970;
    margin-right: 20px;
    margin-left: 50px;
}

.links>a{
    color: #9fa2a5;
    font-size: 17px;
    padding-top: 25px;
}

.regico{
    margin-top: 10px;
    color: #696970;
}

.content{
    position: static;
    float: right;
}

.notifications{
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 15px;
}

.links{
    float: right;
    display: inline;
    margin-top: 25px;
    margin-right:25px;
}

ul{
    margin: 0;
    padding: 0;
}

.links>a{
    margin-right: 25px;
}

.logo{
    height: 50px;
    width: 80%;
}

.logo>img{
    max-width: 140%;
    margin-top: 10px;
    margin-left: -10px;
}

.regastudent{
    margin-left: 150px;
}

.testinf{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 5px;
}

.sidebar{
    background-color: #434343;
     height: 100%;
    /*width: 225px; */
    position: fixed;
    z-index: 1000;
    

}

.btn-sub{
    background-color: #08A2BE;
    color: #F7F7F8;
    border-style: none;
}

.btn-delete{
    color: #F7F7F8;
    border-style: none;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 5px;
    
}

.btn-create{
    background-color: #08A2BE;
    color: #F7F7F8;
    border-style: none;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
}

.question{
    margin-bottom: 10px;
}

.questioninput{
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.answer{
    margin-left: 20px;
    margin-right: 20px;
   
}

questionlist:hover{
    text-decoration: none;
}

.letter{
    margin-left: 5px;
    margin-right: 5px;
}

.addquest{
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-header{
    background-color: #FFFFFF;
    height: 70px;
    position: relative;
    float: right;
    margin-bottom: 60px;

}

.regateacher{
    margin-left: 150px;
}

.main{
    background-color: #F7F7F8;
    height: 240px;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.menubutton{
    display: none;
    color: #434343;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.mob-logo{
    display: none;
}

.studentslist{
    margin: 0 auto;
}

#pointsin{
    margin-left: 21px;
    margin-bottom: 5px;
}

.regMessage{
    margin-bottom: 5px;
}

.alert{
    margin: 0 auto;
    width: 500px;
}

.timelabel{
    margin-right: 10px;
}

.timediv{
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.testbtns{
    margin-bottom: 10px;

}

#questionlist{
    padding: 5px 5px 5px 5px;
}

.answer{
    margin-left: 10px;
}

#ansa{
    margin-left: 7px;
}

#ansb{
    margin-left: 8px;
}

#ansc{
    margin-left: 7px;
    margin-right: 19px;
}

#ansd{
    margin-left: 6px;
}



.testcreate{
    background-color: #FFFF;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid #5F9EA0;
    width: 81%;

}


#registrations {
    border:0.5px solid cadetblue;
    background-color: white;
    width: 81%;
    margin: 0 auto;
    overflow: auto;
    max-height: 300px;
    font-size: 14px;
    padding: 15px;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);

}


/* Login */


@media only screen and (max-width: 767px){
    .sidebar{
        display: none;
    }

    ul>li{
        padding-top: 15px;
        font-size: 16px;
        text-decoration-line: none;
        list-style: none;
        width: 100%;
        height: 50px;
        float: left;
        
    }

    .answer{
        
       
    }

    .ok{
        margin-left: 5px;
    }

    #pointsin{
        margin-bottom: 10px;
        
    }

    .testsave{
        margin-top: 5px;
    }

    .notifications,.links{
        display: none;
    }
    #registrations{
        width: 100%;
        margin: 0 auto;
    }
   
    .menubutton{
        color: #434343;
        display: block;
    }

    .regateacher{
        margin: 0 auto;
    }

    .regastudent{
        margin: 0 auto;
    }

    .dropdown{
        margin-left: 10px;
        margin-top: -25px;
    }

    .mob-logo{
        width: 200px;
        height: 50px;
        display: block;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
}

#content{
    margin: 0 auto;
}

.handleRegBtns{
    margin: 0 auto;
    display: inline-block;
    margin-right: 30px;
}

.regContent{
    margin-left: 5px;
    
}

@media only screen and (max-width: 585px){
 
    .btn-delete{
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .handleRegBtns{
        margin: 0 auto;
    }

}

.student-table {
    counter-reset: serial-number;
}

.student-table td:first-child:before {
    counter-increment: serial-number; 
    content: counter(serial-number);
}