html,body{
    height: 100%;
    background-color: #ECEFF4;
    
}

a{
    text-decoration: none;
    font-family: Roboto;
}

p{
    font-family: Roboto;
}

i{
    font-size: 20px;
    color:#FFFFEC;
}

.menuic{
    margin-left: 15px;
    margin-right: 10px;
    float: left;
}

.headeric{
    color: #9fa2a5;
    margin-right: 15px;
}


ul>li>a{
    color: #FFFFEC;
    margin-left:10px; 
   
    float: left;
}

ul>li>a:hover{
    background-color: none;
}

ul>li{
    padding-top: 15px;
    font-size: 16px;
    text-decoration-line: none;
    list-style: none;
    width: 100%;
    height: 50px;
    float: left;
    
}

ul>li:hover{
    background-color: #5A5A5A;
    border-radius: 5px;
    animation-duration: 3s;
}

ul>li>a:hover{
    color: rgb(231, 227, 227);
    text-decoration: none;
}

#title{
    font-size: 20px;
    color: #696970;
    margin-right: 20px;
    margin-left: 50px;
}

.links>a{
    color: #9fa2a5;
    font-size: 17px;
    padding-top: 25px;
}

.content{
    position: static;
    float: right;
}

.notifications{
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 15px;
}

.links{
    float: right;
    display: inline;
    margin-top: 25px;
    margin-right:25px;
}

ul{
    margin: 0;
    padding: 0;
}

.links>a{
    margin-right: 25px;
}

.logo{
    height: 50px;;
}

.sidebar{
    background-color: #434343;
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1000;
    

}

.top-header{
    background-color: #F7F7F8;
    height: 70px;
    position: relative;
    float: right;
    margin-bottom: 50px;

}

.mimg{
    margin-top: 10px;
    width: 200px;
    height: 50px;
}

.main{
    background-color: #F7F7F8;
    height: 240px;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.menubutton{
    display: none;
    color: #434343;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/* Login */

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

@media only screen and (max-width: 900px){
    .sidebar{
        display: none;
    }
    .top-header{
        width: 100%;
    }
    .notifications,.links{
        display: none;
    }
    .menubutton{
        color: #434343;
        display: block;
    }
}
