html,body{
    height: 100%;
    background-color: #ECEFF4;
    font-family: 'Questrial', sans-serif;
    
}

a{
    text-decoration: none;
}

i{
    font-size: 20px;
    color:#FFFFEC;
}

th{
    color: white;
}

.thead{
    background-color: #434343;
}

#categories{
    margin-bottom: 15px;
}

.navbar-nav>li>a{
    margin-top: -2px;
}

#test>th{
    color: rgb(90, 90, 90);
    }

#mytests{
    margin-left: 16px;
}

#message{
    margin-top: 15px;
}

#createtest{
    margin-left: 14px;
}

.testinputs{
    margin-left: -20px;
}

#testname{
    margin-bottom: 10px;
    margin-left: 24px;
    width:95.7%;
}

.testquestions{
    overflow: auto;
    
}

.existingquestions{
    overflow: auto;
}

#existquest>th{
    color: black;
}

#chooseExist{
    margin-top: 10px;
    margin-bottom: 15px;
}

.menuic{
    margin-left: 15px;
    margin-top: 2px;
    float: left;
    font-size: 1.2vw;
}

.headeric{
    color: #9fa2a5;
    margin-right: 15px;
}

#ansd{
    margin-right: 19px;
    margin-left: 20px;
}

#tooltipexist{
    margin:0px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(105, 105, 105);
}

#tooltipexist #tooltiptextexist{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltipexist:hover #tooltiptextexist {
    visibility: visible;
    opacity: 1;
}

#tooltip {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
    opacity: 1;
}


ul>li>a{
    color: rgb(206, 206, 206);
    margin-left:10px; 
    float: left;
}

ul>li>a:hover{
    background-color: none;
}

ul>li{
    padding-top: 15px;
    font-size: 1.2vw;
    text-decoration-line: none;
    list-style: none;
    width: 100%;
    height: 50px;
    float: left;
    font-family: 'Roboto', sans-serif;
    
}

.navbar-nav>li:hover{
    animation-duration: 3s;
    background-color: #5A5A5A;
    border-radius: 5px;
}

ul>li>a:hover{
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.dropdown-menu>li>a{
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.dropdown-menu>li>a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.dropdown-menu{
    width: 200px;
}

.drop:hover{
    background-color: #08A2BE;
}

#title{
    font-size: 20px;
    color: #696970;
    margin-right: 20px;
    margin-left: 50px;
}

.links>a{
    color: #9fa2a5;
    font-size: 17px;
    padding-top: 25px;
}

.regico{
    margin-top: 10px;
    color: #696970;
}

.content{
    position: static;
    float: right;
}

.notifications{
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 15px;
}

.links{
    float: right;
    display: inline;
    margin-top: 25px;
    margin-right:25px;
}

ul{
    margin: 0;
    padding: 0;
}

.links>a{
    margin-right: 25px;
}

.logo{
    height: 50px;
    width: 80%;
}

.logo>img{
    max-width: 140%;
    margin-top: 10px;
    margin-left: -10px;
}

.regastudent{
    margin-left: 150px;
}

.testinf{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 5px;
    margin-left: 44px;
}

.sidebar{
    background-color: #434343;
     height: 100%;
    /*width: 225px; */
    position: fixed;
    z-index: 1000;
    

}


.btn-sub{
    background-color: #08A2BE;
    color: #F7F7F8;
    border-style: none;
}

.btn-delete{
    color: #F7F7F8;
    border-style: none;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 5px;
    
}

.btn-create{
    background-color: #08A2BE;
    color: #F7F7F8;
    border-style: none;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
}

.question{
    margin-bottom: 10px;
}

.questioninput{
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.answer{
    margin-left: 20px;
    margin-right: 20px;
   
}

#inviteTeacherBtn{
    align-content: center;
}

questionlist:hover{
    text-decoration: none;
}

.letter{
    margin-left: 5px;
    margin-right: 5px;
}

.addquest{
    margin-top: 5px;
    margin-bottom: 10px;

}

#addquest{
    margin-left: 10px;;
}

.top-header{
    background-color: #FFFFFF;
    height: 70px;
    position: relative;
    float: right;
    margin-bottom: 60px;

}

.regateacher{
    margin-left: 150px;
}

.main{
    background-color: #F7F7F8;
    height: 240px;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.menubutton{
    display: none;
    color: #434343;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.mob-logo{
    display: none;
}

.studentslist{
    border:0.5px solid cadetblue;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    font-size: 15px;
    padding: 15px;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);
}

.teacherlist{
    overflow: auto;
}


#pointsin{
    margin-left: 21px;
    margin-bottom: 5px;
}

.regMessage{
    color: green;
    margin-bottom: 10px;
}

.alert{
    margin: 0 auto;
    width: 500px;
}

.timelabel{
    margin-right: 10px;
}

.timediv{
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.testbtns{
    margin-bottom: 10px;

}

.messageStudent{
    color: red;
    margin-bottom: 10px;
}

.forgot{
    font-size: 15px;
}

#questionlist{
    padding: 5px 5px 5px 5px;
}

.testcreate{
    background-color: #FFFF;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid #5F9EA0;
    width: 81%;

}

.whereHeader{
    display: inline-block;
    margin-left: 18%;
    margin-top: 20px;
    color: #9fa2a5;
    font-weight: 300;
}


#registrations,#news {
    border:0.5px solid cadetblue;
    background-color: white;
    width: 81%;
    margin: 0 auto;
    overflow: auto;
    max-height: 300px;
    font-size: 15px;
    padding: 15px;
    -webkit-box-shadow: -2px 1px 26px -8px rgba(0,0,0,0.75);

}


/* Login */


@media only screen and (max-width: 767px){
    .sidebar{
        display: none;
    }

    #addquest{
        margin-left: 20px;;
    }

    .whereHeader{
        display: none;
    }


    ul>li{
        padding-top: 15px;
        font-size: 16px;
        text-decoration-line: none;
        list-style: none;
        width: 100%;
        height: 50px;
        float: left;
        
    }

    /* .ok{
        margin-left: 50px;
    } */

    #pointsin{
        margin-bottom: 10px;
        
    }

    .testsave{
        margin-top: 5px;
    }

    .notifications,.links{
        display: none;
    }
    #registrations{
        width: 100%;
        margin: 0 auto;
    }
   
    .menubutton{
        color: #434343;
        display: block;
    }

    .regateacher{
        margin: 0 auto;
    }

    .regastudent{
        margin: 0 auto;
    }

    .dropdown{
        margin-left: 10px;
        margin-top: -25px;
    }

    .mob-logo{
        width: 200px;
        height: 50px;
        display: block;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
}

#content{
    margin: 0 auto;
}

.handleRegBtns{
    margin: 0 auto;
    display: inline-block;
    margin-right: 30px;
}

.regContent{
    margin-left: 5px;
    
}

@media only screen and (max-width: 585px){
 
    .btn-delete{
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .handleRegBtns{
        margin: 0 auto;
    }

}

.student-table {
    counter-reset: serial-number;
}

.student-table td:first-child:before {
    counter-increment: serial-number; 
    content: counter(serial-number);
}

.tableStudentName a{
    color: black;
    border-bottom:1px solid black;
}

.tableStudentName a:hover{
    text-decoration: none;
    border-bottom:1px solid cadetblue;
}

.testCard{
    transition: all 100ms ease-in-out;
}

.testCard:hover {
    transform: scale(1.05);
    background-color: #fcfdff;

}

.ok{
    margin-left: 20px;
}

@media only screen and (max-width: 1064px){
    .user{
        display: none;
    }
}

