<div class="col-md-5 ">

<form action="/login" method="post">

    <input type="text" name="username" class="form-control" id="ulogin"
                               placeholder="Login" required autofocus>
    <input type="password" name="password" class="form-control" id="upassword"
                               placeholder="Password" required autofocus>

    <button type="submit">Login</button>

</form>

</div>