
<div class="card-columns">
{{#each test}}
    <a href="" style="color:black"><div class="card col-md-10 testCard">
        <div class="card-body">
            {{testName}}


        </div>
        
    </div></a>
{{/each}}
    {{!-- <table class="table table-hover">
        <thead>
            <tr>
                <th>Test name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each test}}
            <tr>
                <td>{{testName}}</td>
                <td>{{categoryname}}</td>
                <td>
                    <button class="btn btn-sm btn-warning">Test statistics</button>
                </td>
                <td>
                    <button class="btn btn-sm btn-warning">Edit</button>
                </td>

                <td>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table> --}}
</div>